<div class="container">
    <div class="col-md-12">
        <form class="form-horizontal" name="addMenu" novalidate>
            <div class="form-group " ng-class="{'hasError': addMenu.name.$error.required}">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" class="form-control" ng-model="$ctrl.menu.name"
                       required>
            </div>
            <div class="form-group">
                <label>Ingredients</label>
                <ingredient ingredients="$ctrl.menu.ingredients"></ingredient>
            </div>
            <div class="form-group">
                <label>Prices</label>
                <prices prices="$ctrl.menu.prices"></prices>
            </div>
            <div class="form-group">
                <label>Image</label>
                <div class="btn btn-info" ngf-select ng-model="$ctrl.file" name="file" ngf-pattern="'image/*'"
                     ngf-accept="'image/*'" ngf-max-size="20MB">Select</div>
                <img ngf-thumbnail="$ctrl.file" class="img-thumbnail "></img>
            </div>

            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" data-ng-click="$ctrl.submit(addMenu)">
            </div>

        </form>
    </div>
</div>