<div class="ingredient">
    <ng-form name="ingredientForm" class="form form-inline">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" ng-model="$ctrl.ingredient" id="name">
        <button type="button" class="btn btn-success" data-ng-click="$ctrl.save()">{{$ctrl.titleMode}}</button>
        <button type="button" class="btn btn-warning" data-ng-click="$ctrl.cancel()" ng-if="$ctrl.editMode">Cancel</button>
    </ng-form>
    <br />
    <div ng-repeat="ingredient in $ctrl.ingredients track by $index" class="margin-top ingredient-group">
        <div class="item">
            <span ng-click="$ctrl.edit($index)">{{ingredient}}</span>
            <span data-ng-click="$ctrl.remove($index)">
                    <i class="glyphicon glyphicon-remove-circle text-danger"></i> </span> </div>
    </div>
</div>
