<div class="box">
    <h3 class="text-center">{{ $ctrl.item.name | uppercase }}</h3>
    <div class="thumb" ng-click="$ctrl.showImage()">
        <img class="center" ng-src="assets/img/menu/{{$ctrl.item.thumb}}.jpeg">
        <div class="thumb-overlay"></div>
    </div>

    <div class="ingredients">
        <ul class="list-inline text-center">
            <li ng-repeat="ingredient in $ctrl.item.ingredients">{{ingredient}}</li>
        </ul>
    </div>

    <div class="prices">
        <div ng-repeat="p in $ctrl.item.price" class="price">
            <span><h5>Size: {{p.size}} cm</h5></span>
            <span><h5>Price: {{p.price}} zł</h5></span>
        </div>
    </div>

</div>
