
<section class="container about">
    <header class="page-header"><h2>HISTORY</h2></header>
    <div class="row">
        <div class="col-md-10 col-sm-12"><p>
            Siedziba naszej restauracji mieści się w historycznym dworku wybudowanym w 1859 roku, który był rodzinną sadybą Henryka Szancera. Rodzimi
            tarnowianie
            powinni doskonale znać ród Szancerów. Jego historia jest niezwykle barwna, idealnie ujął ją wybitny znawca historii Tarnowa, pan Antoni Sypek:
            „Rodzina
            ta znana była z wielu akcji filantropijnych i charytatywnych. (…) Szancerowie lubili się bawić, jeść i kochać. Rodzina ich była liczna i znana w
            wielu
            europejskich krajach. Szybko zdobywali fortunę i równie szybko ją tracili. Kobiety z tego rodu wyróżniały się inteligencją, urodą i
            temperamentem.”</p>
            <p>
                Jak osoba niezwykle przedsiębiorcza, w sąsiedztwie dworku nad potokiem Wątok, Henryk wybudował pierwszy w Tarnowie młyn parowy. W związku z
                ogromnym
                zapotrzebowaniem na usługi młynarskie, zaraz po ukończeniu budowli, zaczął uruchamiać kolejne zakłady w Stanisławowie, Przemyślu, a także w
                Bochni. Tym
                samym, zapoczątkował nowy rozdział w historii rodziny. Przedsiębiorstwo Tarnowskie Młyny Parowe prosperowało znakomicie, a po kilku latach od
                założenia
                płaciło kilkakrotnie większe podatki niż wszystkie młyny na Górnym Śląsku razem wzięte. Na terenach biednej i zacofanej Galicji zaczęła królować
                para, a
                bliska odległość do zachodniej Ukrainy i dobre połączenia komunikacyjne sprawiły, że interes kwitł znakomicie.</p>
            <p>
                Usytuowany na terenie dawnej dzielnicy Grabówka, stanowi jedyny zachowany do dziś budynek młyna spośród pracujących w przedwojennym Tarnowie.
                Pochodzący
                z rodu nowosądeckich Żydów Henryk Szancer był postacią wielkiej miary. Uruchamiając kolejne młyny wpłynął na rozwój galicyjskiego młynarstwa, a
                jego
                ofiarność i praca społeczna sprawiły, że w 1867 r. został honorowym obywatelem miasta Tarnowa. W uznaniu zasług został odznaczony przez cesarza
                Franciszka Józefa orderem jego imienia. Po śmierci został pochowany na żydowskim cmentarzu w Tarnowie gdzie do dziś istnieje jego nagrobek,
                który oprócz
                inskrypcji hebrajskiej , posiada także tekst w języku polskim. </p>
            <p>Działając na tak zacnych podwalinach historycznych, staramy się zachować niezwykle tajemniczy i urokliwy charakter w naszej restauracji.
                Aspiracje jakie nam przyświecają, nieodłącznie nawiązują do działalności właściciela dworku, który wskazuje ścieżkę rozwoju. Wierzymy, że duch
                przedsiębiorczości Henryka pomoże spełnić nawet najbardziej wysublimowane oczekiwania klientów.</p>
        </div>
    </div>
</section>
